# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=stockmanager
DB_USER=postgres
DB_PASSWORD=sldptseesc

# Configuración de la aplicación
APP_ENV=development
APP_DEBUG=True

# Configuración opcional (si usas logs)
LOG_LEVEL=INFO